@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Satisfy&display=swap");

@mixin button {
  margin-top: 2rem;

  border: 1px solid white;
  border-radius: 8px;
  transition: all 0.2s linear;
  &:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.1s linear;
  }
}

html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: rgb(31, 30, 30);
 
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background-color: #141414;
  

  &__title {
    margin: 0;
    color: white;
    font-family: "Satisfy";
  }
}
.navigation {
  display: block;
  &__link {
    margin: 1.5rem;
    font-family: "Roboto";
    color: white;
    text-decoration: none;
  }
}
.hello {
  display: block;
  position: relative;
  z-index: 99;
  
  &__slider {
    width: 100%;
    max-height: 650px;
    overflow: hidden;
    z-index: 99;
  }
  &__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgb(20, 20, 20);
    background: linear-gradient(
      270deg,
      rgba(20, 20, 20, 0) 40%,
      rgba(20, 20, 20, 0.7315301120448179) 70%
    );
  }
  &__content {
    position: absolute;
    top: 4rem;
    left: 6rem;
    width: 30%;
    min-width: 300px;

    color: white;
    z-index: 100;
    &-heading {
      margin-bottom: 1rem;
      font-size: 4rem;
    }
    &-text {
      font-weight: lighter;
      letter-spacing: 2px;
    }
    &-button {
      @include button;
      display: inline-block;
      width: 8rem;
      height: 3rem;

      margin-right: 1rem;
    }
  }
}
.offer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
  color: black;

  background-color: #141414;
  &__item {
    flex-basis: 300px;
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgb(236, 230, 230);
    border-radius: 8px;
    box-shadow: 8px 8px 8px 8px black;
  }
  &__heading {
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;
    & span {
      letter-spacing: 4px;
      font-style: italic;
    }
  }
  &__icon {
    width: 90%;
    height: 200px;
  }
  &__text {
    text-align: center;
    font-weight: bolder;
  }
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 450px;
  margin: 0 auto;
  color: white;
  &__container{
   background-color: #141414;
  }
  
  &__wrapper {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  &__icon {
    height: 6rem;
    margin-top: 2rem;
  }
  &__legend {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: lighter;
    align-self: center;
  }
  &__label {
    font-weight: lighter;
    margin-bottom: 0.4rem;
  }
  &__input {
    margin-bottom: 1rem;
    height: 2.5rem;
    background: none;
    border: 1px solid #6c63ffff;
    color: white;
    outline: #6c63ffff;
    border-radius: 4px;
    padding: 4px;
    &:focus {
      border: 1px solid #6c63ffff;
      box-shadow: inset 0 0 3px #6c63ffff, 0 0 3px #6c63ffff;
    }
  }
  & option {
    color: white;
    background-color: rgb(31, 30, 30);
  }
  &__button {
    @include button;
    width: 16rem;
    height: 3rem;
    align-self: center;
  }
}
.gallery{
  padding: 1rem;
  
  & img{
    transition: all 0.3s ease-in-out;
    &:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;

  }}
}
.footer {
  width: 100%;
  height: 400px;
  padding-top: 1.5rem;
  color: #e5e5e5;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;
    &-top {
      border-bottom: 1px solid #ffffff1c;
      padding-bottom: 1.5rem;
      padding-right: 7rem;
    }
    &-bottom {
      margin-right: 15rem;
      margin-top: 3rem;
    }
  }
  &__heading {
    font-family: "Satisfy";
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__socials {
    flex-basis: 300px;
    height: 100%;

    &-link {
      float: right;
      margin-right: 1rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__section {
    flex-basis: 200px;
    font-size: 0.85rem;
    line-height: 1.5rem;
    & h3 {
      font-weight: normal;
    }
    & p {
      font-weight: 200;
    }
  }
}

.testimonials{ 
  padding: 1rem;
  &__item{
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    background-color: #14141428;
    margin-bottom: 2rem;
    &-image{
      width: 40%;
      height: auto;
      border-radius: 4px;
      flex-shrink: 0;
    }
    &-content{
      display: flex;
     flex-direction: column;
     justify-content: stretch;
     flex-shrink: 3;
     width: 60%;
     padding:1rem;
     color: white;
     
    }
    &-heading{
      text-align: center;
      font-family: 'Satisfy';
      
      font-size: 2rem;
      letter-spacing: 2px;
    }
    &-text{
      text-align: center;
      
      font-size: 1.5rem;
      font-style: italic;
      
    }
  }
 
}