@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@mixin button {
  margin-top: 2rem;

  border: 1px solid white;
  border-radius: 8px;
  transition: all 0.2s linear;
  &:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.1s linear;
  }
}
@mixin hamburger__inner{
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: white;
  left: 0;
  top: 50%;
}
$screen-XS: 480px;
$screen-S: 600px;
$screen-M: 768px;
$screen-L: 850px;
$screen-XL: 1000px;
$screen-XXL: 1200px;
$mainLighter:rgb(27, 27, 27);
$mainDarker:#141414;
$secondaryPurple:#6c63ffff;


html {
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: $mainLighter;
  scroll-behavior: smooth;
  @media(max-width:$screen-M){
    font-size: 16px;

  }
  @media(max-width:$screen-S){
    font-size: 14px;
    
   }
 
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.stop-scrolling {
  height: 100vh;
  overflow: hidden;
  
}

.header {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background-color: $mainDarker;
  
  
  
  

  &__title {
    margin: 0;
    color: white;
    font-family: "Satisfy";
  }
}
.navigation {
  display: block;
  &__link {
    margin: 1.5rem;
    font-family: "Roboto";
    color: white;
    text-decoration: none;
  }
  &__button{
   
    background: transparent;
    padding: 10px;
    cursor: pointer;
    border: none;
    

    
  
    @media(min-width:$screen-S){
      display: none;
      
      
    }
  }
  &__hamburger{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px;
    
    &-inner{
    @include hamburger__inner;
    transition: background-color .2s .1s ease-in-out;
    ;
    &::before{
      @include hamburger__inner;
      content: '';
      transform: translateY(-10px);
      transition: transform .2s .1s ease-in-out;
    }
    &::after{
      @include hamburger__inner;
      content: '';
      transform: translateY(10px);
      transition: transform .2s .1s ease-in-out;
    }
    }
    
  }
  &__modal{
    position: absolute;
    position: fixed;
    top:135px;
    height: 100%;
    left: 0;
    z-index: 10000;
    background-color: $mainDarker;
    color: white;
    width: 100%;
    transform: translateX(1000px);
    transition: transform .5s .1s ease-in-out;
    &-active{
      transition: transform .5s .1s ease-in-out;
      transform: translateX(0px);
    }
    @media(min-width:$screen-S){
      display: none;
      
      
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
    list-style: none;
    font-size: 2rem;
    & li{
      margin-bottom: 2rem;
    }
  }
  @media(max-width:$screen-S){
    display: none;
    
  }
}
.navigation__hamburger-active .navigation__hamburger-inner{
  background-color: transparent;
}
.navigation__hamburger-active .navigation__hamburger-inner:after{
  transform:  rotate(45deg);
}
.navigation__hamburger-active .navigation__hamburger-inner:before{
  transform:  rotate(-45deg);
}
.slick-list{
  height: 100% !important;
  width: 100%;
}

.gatsby-image-wrapper{
  display: block !important;
}
.hello {
  display: block;
  position: relative;
  z-index: 99;
  height: 100%;
  max-height: 900px;
  
  
  &__slider {
    width: 100%;
    height: 100%;
    max-height: 900px;
    overflow: hidden;
    z-index: 99;
  }
  
  &__mask {
    position: absolute;
    width: 100%;
    height: 100.1%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgb(20, 20, 20);
    background: linear-gradient(
      270deg,
      rgba(20, 20, 20, 0) 40%,
      rgba(20, 20, 20, 0.7315301120448179) 70%
    );
  }
  &__content {
    @media(max-width:$screen-XS){
      display: none;
    }
    position: absolute;
    top: 2rem;
    left: 6rem;
    width: 30%;
    min-width: 300px;
    @media(max-width:$screen-L){
      top: 2rem;
      left: 3rem;
      width: 50%;
      
    }
    @media(max-width:$screen-S){
      top: .5rem;
      left: .5rem;
      width: 70%;
     
    }

    color: white;
    z-index: 100;
    &-heading {
      margin-bottom: 1rem;
      font-size: 4rem;
      @media(max-width:$screen-S){
       margin-top:.5rem;
       
      }
    }
    &-text {
      font-weight: lighter;
      letter-spacing: 2px;
    }
    &-button {
      @include button;
      display: inline-block;
      width: 8rem;
      height: 3rem;

      margin-right: 1rem;
    }
  }
  &-modal{
    display: none;
  }
}
.offer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: black;
  background-color: $mainLighter;
  &__item {
    flex-basis: 300px;
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgb(236, 230, 230);
    border-radius: 8px;
    box-shadow: 8px 8px 8px 8px black;
  }
  &__heading {
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;
    & span {
      letter-spacing: 4px;
      font-style: italic;
    }
  }
  &__icon {
    width: 90%;
    height: 200px;
  }
  &__text {
    text-align: center;
    font-weight: bolder;
  }
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 450px;
  margin: 0 auto;
  color: white;
  &__container{
   background-color: $mainLighter;
  }
  
  &__wrapper {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  &__icon {
    height: 6rem;
    margin-top: 2rem;
  }
  &__legend {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: lighter;
    align-self: center;
  }
  &__label {
    font-weight: lighter;
    margin-bottom: 0.4rem;
  }
  &__input {
    margin-bottom: 1rem;
    height: 2.5rem;
    background: none;
    border: 1px solid $secondaryPurple;
    color: white;
    outline: $secondaryPurple;
    border-radius: 4px;
    padding: 4px;
    &:focus {
      border: 1px solid $secondaryPurple;
      box-shadow: inset 0 0 3px $secondaryPurple, 0 0 3px $secondaryPurple;
    }
    &-textarea{
      min-height: 10rem;
    }
  }
  & option {
    color: white;
    background-color: $mainLighter
  }
  &__button {
    @include button;
    width: 16rem;
    height: 3rem;
    align-self: center;
  }
}
.dogs{
  display: block;
  color: white;
  &__heading{
    font-family: 'Satisfy';
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-align: center;
    
    margin-bottom: 2rem;
  }
&__article{
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  margin-bottom: 1rem;
  @media(max-width:$screen-XL){
    flex-direction: column;
    align-items: center;
    padding:0;
  }
  
  
}
&__text{
  @media(max-width:$screen-XL){
   text-align: center;
  }

}
&__details{
  display: flex;
  align-items: center;
  flex-basis: 30%;
  font-size: 1.1rem;
  line-height: 2rem;
  
  
}
&__image{
  max-width:400px;
  flex-grow: 0;
	flex-shrink: 0;
  margin-bottom:1rem;

  border-radius: 4px;
  

}

&__info{
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
 
  &-decoration{
    width: 4rem;
    height: 4px;
    background-color: white;
  }
  &-puppy{
    justify-content: center;
    padding: 0;
  }
}
&__name{
  font-family: 'Bebas Neue';
  font-size: 5rem;
  margin-top: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: aqua;
  &-female{
    color: rgb(245, 161, 175);
  }
}
&__breed{
  margin-bottom: 1.5rem;
  font-family: 'Bebas Neue';
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}
&__button{
@include button;
width: 8rem;
height: 3rem;
margin-bottom: 2rem;

  
}
&__price{
 font-size: 2rem;
 font-style: italic;
  
    
  }

}
.gallery{
  padding: 1rem;
  
  & img{
    transition: all 0.3s ease-in-out;
    &:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;

  }}
}

.testimonials{ 
  padding: 1rem;
  &__item{
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    background-color: $mainDarker;
    margin-bottom: 2rem;
    @media(max-width:$screen-M){
      flex-direction: column;
      align-items: center;
    }
    &-image{
      @media(max-width:$screen-M){
        width: 100%;
        max-width: 400px;
      }
      width: 40%;
      height: auto;
      margin-top: 1rem;
      border-radius: 4px;
      flex-shrink: 0;
    }
    &-content{
      @media(max-width:$screen-M){
        width: 100%;
      }
      display: flex;
     flex-direction: column;
     justify-content: stretch;
     flex-shrink: 3;
     width: 60%;
     padding:1rem;
     color: white;
     
    }
    &-heading{
      text-align: center;
      font-family: 'Satisfy';
      
      font-size: 2rem;
      letter-spacing: 2px;
    }
    &-text{
      text-align: center;
      
      font-size: 1.5rem;
      font-style: italic;
      
    }
  }
 
}
.footer {
  width: 100%;
  padding-top: 1.5rem;
  background-color: $mainDarker;
  color: #e5e5e5;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;
    &-top {
      border-bottom: 1px solid #ffffff1c;
      padding-bottom: 1.5rem;
      padding-right: 7rem;
      @media(max-width:$screen-S){
        padding-right: 1rem;
      }
    }
    &-bottom {
      column-gap: 1rem;
      flex-wrap: wrap;
      margin-right: 15rem;
      margin-top: 3rem;
    }
  }
  &__heading {
    font-family: "Satisfy";
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__socials {
    flex-basis: 300px;
    height: 100%;

    &-link {
      float: right;
      margin-right: 1rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__section {
    flex-basis: 200px;
    flex-grow: 0;
	flex-shrink: 0;
  
    font-size: 0.85rem;
    line-height: 1.5rem;
    & h3 {
      font-weight: normal;
    }
    & p {
      font-weight: 200;
    }
  }
}
